<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"/>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About The Bootcamp</title>
</head>
<body>


<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div>
<br>


<div class="card bg-light text-dark">
    <div class="card-body"><br>


<h3>WHAT IS THE PROGRAM?</h3>
<p>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program funded by the Department of Labor.
    This course aims to increase the number of skilled software developers in this country. We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp.
    If accepted into the program all fees will be covered by the program.</p>


<h3>What will you Learn?</h3>
<p>The Java Web Development Bootcamp takes you from your first java program to developing a web application.
    This course will give you a fast start on your career so you can take it to the next level.
    The course will teach you by forcing you to write over 130 java applications, including 5 major web applications.
    Programming challenges will keep you on your toes.</p>
<img width="400px" alt="Eyael"src="https://res.cloudinary.com/dtvwgqowk/image/upload/v1550864881/gettyimages-516131882-1024x1024.jpg">

<P>You'll learn to create servlets and web pages. You'll use frameworks, unit tests and stored procedures.
    You'll connect to an Oracle database using the Java Persistence API(JPA), and most importantly,
    all assignments are submitted through git, so you will learn to develop using best practices in class, to make it easy to contribute value when you are on the job.</p>

<h3>Is this bootcamp right for me?</h3>
The bootcamp is for programmers with a basic understanding of an object oriented language: Java, C#, VB.NET, Python, PHP, Ruby or C++. You do not need experience developing web applications.<p>

<h3>What is the criteria for admission?</h3>
<p>Applicants must be passionate about coding and have the drive to succeed in an immersive environment. </p>
Our ideal candidate is an Information Systems or Computer Science major who is either at least a rising junior or graduated within the last six years.

If a student doesn't meet those criteria, they can participate in a special one week mini-camp to assess their ability to learn in this environment.

Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland, a person who makes $42,000 or less is underemployed. Must be able to work in the United States.

    </div>
</div>



<div class="jumbotron" align="bottom">


    <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

    <ol class="socialmedia">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
    </ol>
</div>

</body>
</html>