<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"/>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styleauthor.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About The Bootcamp</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div>

<br>


<div class="container">
    <div class="row">


        <div class="col col-sm-5" align="center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://res.cloudinary.com/dtvwgqowk/image/upload/v1550852605/20190222_102707.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Eyael A Mekonnen</h4>
            <h6 class="card-text">Software Developer</h6>
            <a href="https://www.linkedin.com/eyael" class ="fa fa-linkedin">&nbsp;&nbsp;https://www.linkedin.com/eyael</a><br>
            <a href="https://www.github.com/eyael" class ="fa fa-github">&nbsp;&nbsp;https://www.github.com/eyael</a><br>
            <a href="https://www.facebook.com/eyael" class ="fa fa-facebook">&nbsp;&nbsp;https://www.facebook.com/eyael</a><br>
                <a href="https://www.twitter.com/eyael" class ="fa fa-twitter">&nbsp;&nbsp;https://www.twitter.com/eyael</a><br>
            <a href="https://www.instagram.com/eyael" class ="fa fa-instagram">&nbsp;&nbsp;https://www.instagram.com/eyael</a><br>

        </div>
    </div>
        </div>


        <div class="col col-sm-5" align="center">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://res.cloudinary.com/dh18h6lff/image/upload/v1551043093/45482583_10156912097438945_682691674538770432_n.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Raghav Khadka</h4>
                    <h6 class="card-text">Software Developer</h6>
                    <a href="https://www.linkedin.com/khadkaraghav" class ="fa fa-linkedin">&nbsp;&nbsp;https://www.linkedin.com/khadkaraghav</a><br>
                    <a href="https://www.github.com/khadkaraghav" class ="fa fa-github">&nbsp;&nbsp;https://www.github.com/khadkaraghav</a><br>
                    <a href="https://www.facebook.com/raghavkhadka01" class ="fa fa-facebook">&nbsp;&nbsp;https://www.facebook.com/raghavkhadka01</a><br>
                    <a href="https://www.twitter.com/khadkaraghav" class ="fa fa-twitter">&nbsp;&nbsp;https://www.twitter.com/khadkaraghav</a><br>
                    <a href="https://www.instagram.com/raghav_omjm" class ="fa fa-instagram">&nbsp;&nbsp;https://www.instagram.com/raghav_omjm</a><br>

                </div>
            </div>
        </div>


</body>
</html>