<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Core Java</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div><br>

<div class="card bg-light text-dark">
    <div class="card-body">
    <h3 align="center">Features of Java</h3><br>
    <h5 align="center">22 February 2019</h5><br>

    <p>
        The prime reason behind creation of Java was to bring portability and security feature into a computer language. Beside these two major features, there were many other features that played an important role in moulding out the final form of this outstanding language. Those features are :<br><br>


        <h4 class="text-info">1) Simple</h4><br>
        Java is easy to learn and its syntax is quite simple, clean and easy to understand.The confusing and ambiguous concepts of C++ are either left out in Java or they have been re-implemented in a cleaner way.<br>

        Eg : Pointers and Operator Overloading are not there in java but were an important part of C++.<br><br>


        <h4 class="text-info">2) Object Oriented</h4><br>
        In java everything is Object which has some data and behaviour. Java can be easily extended as it is based on Object Model.<br><br>


            <h4 class="text-info">3) Robust</h4><br>
        Java makes an effort to eliminate error prone codes by emphasizing mainly on compile time error checking and runtime checking. But the main areas which Java improved were Memory Management and mishandled Exceptions by introducing automatic Garbage Collector and Exception Handling.<br><br>


            <h4 class="text-info">4) Platform Independent</h4><br>
        Unlike other programming languages such as C, C++ etc which are compiled into platform specific machines. Java is guaranteed to be write-once, run-anywhere language.

        On compilation Java program is compiled into bytecode. This bytecode is platform independent and can be run on any machine, plus this bytecode format also provide security. Any machine with Java Runtime Environment can run Java Programs.<br><br>



            <h4 class="text-info">5) Secure</h4><br>
        When it comes to security, Java is always the first choice. With java secure features it enable us to develop virus free, temper free system. Java program always runs in Java runtime environment with almost null interaction with system OS, hence it is more secure.<br><br>


            <h4 class="text-info">6) Multi Threading</h4><br>
        Java multithreading feature makes it possible to write program that can do many tasks simultaneously. Benefit of multithreading is that it utilizes same memory and other resources to execute multiple threads at the same time, like While typing, grammatical errors are checked along.<br><br>


            <h4 class="text-info">7) Architectural Neutral</h4><br>
        Compiler generates bytecodes, which have nothing to do with a particular computer architecture, hence a Java program is easy to intrepret on any machine.<br><br>


            <h4 class="text-info">8) Portable</h4><br>
        Java Byte code can be carried to any platform. No implementation dependent features. Everything related to storage is predefined, example: size of primitive data types.<br><br>


        <h4 class="text-info">9) High Performance</h4><br>
        Java is an interpreted language, so it will never be as fast as a compiled language like C or C++. But, Java enables high performance with the use of just-in-time compiler.<br><br></p>




</div>
</div>
</div>
</div>

<div class="jumbotron" align="bottom">


    <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

    <ol class="socialmedia">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
    </ol>
</div>
</body>
</html>