<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PROGRAM DESIGN AND ALGORITHMS</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div><br>

<div class="card bg-light text-dark">
    <div class="card-body">
        <h3 align="center">Five Steps to Excellent Program Design</h3><br>
        <h5 align="center">22 February 2019</h5><br>

        <p> As a stakeholder in a mission-driven organization, you know how important it is to have both a strategic vision for the outcomes you intend to achieve and a program (or programs) to help realize that vision. While developing a strategic vision can be a nuanced, complex task, designing a program to carry it out is an even heavier lift. In order to create meaningful impact, it’s essential to get program design right. Developing an effective program consists of five steps that anchor the design to target outcomes and enable successful implementation:<br>

        <h4 class="text-info">Step 1: Clarify Your Target Outcomes</h4><br>
            Classic strategic thinking calls for planning with the end in mind. Program design is no different. The most effective programs begin with and maintain a laser focus on target outcomes—increasing student performance or improving the management skills of local community leaders.<br><br>

            One of the best ways to clarify your target outcomes is to define your program’s theory of change. This process involves answering four key questions:<br><br>

        <li>Who is your target population, and what do they need?</li>
        <li>What are your specific long-term outcomes?</li>
        <li>What are your specific short-term outcomes?</li>
        <li>What program inputs (content and activities) will lead to the specified outcomes?</li><br>


        <h4 class="text-info">Step 2: Leverage the Existing Knowledge Base</h4><br>
        Effective programs rely on content and activities that, as much as possible, are research-based and shown to have a measurable, meaningful impact. Leverage the social sector’s existing knowledge base to identify program inputs that will provide the most bang for your buck. Capitalizing on others’ previous experience and research maximizes your program’s effectiveness and helps you avoid the mistakes others have already made and learned from. You and your leadership team can access valuable research through sources such as:<br><br>

        <li>The Wharton Social Impact Initiative</li>
        <li>The Centre for Social Impact</li>
        <li>The Stanford Social Innovation Review</li>
        <li>The Center for Social Impact Strategy</li>
        <li>Social Impact Exchange</li>
        <li>Harvard’s Social Enterprise Initiative</li><br><br>
        You may also find it incredibly valuable to speak directly with others who have tackled similar problems. These kinds of conversations—about what obstacles to anticipate, what stakeholders to engage, etc.—may even lead to mutually beneficial partnerships that amplify the sector’s impact on a certain issue or cause.<br><br>

        <h4 class="text-info">Step 3: Connect Your Program Inputs to Specific Outcomes</h4><br>
        Once you’ve identified high-impact program inputs, revisit your theory of change and ensure each target outcome is sufficiently supported by those inputs. In other words, inputs should logically lead to and enable specific outcomes.<br><br>

        Be extremely thorough when working through this step—a program may consist of a plethora of research-based inputs, but unless those inputs naturally and logically map to desired outcomes, the program will be ineffective ; for additional examples of mapped inputs and outcomes, see the Outcomes and Evidence Framework).<br><br>



        <h4 class="text-info">Step 4: Focus on Implementation and Measurement</h4><br>
        In addition to identifying effective program inputs and intentionally connecting them to specific outcomes, it is crucial to design programs in such a way that they anticipate organizational and logistical obstacles and can be effectively implemented. This requires some serious thinking and planning around questions such as the following:<br><br>

        <li>How will program inputs be delivered or carried out?</li>
        <li>Who will be responsible for ensuring implementation, and what training do they need?</li>
        <li>How will they ensure actual change occurs and accountability channels function effectively?</li><br><br>
        In our experience working with numerous organizations, this is what most often makes or breaks a program, or even the organization itself. Those who consciously address and plan for implementation succeed at much higher rates and in much more meaningful ways than their counterparts. For example, while most school improvement programs in the U.S. have struggled to turn education research into tangible results over the last two decades, one of Cicero’s public education clients was able to achieve twice the proficiency gains in student achievement scores compared to the state average by focusing on intentional, consistent implementation.<br><br>

        To ensure successful implementation, explore research-based strategies designed to produce lasting change. At Cicero, we use our Performance Transformation Process (PTP) to help organizations drive deep, sustainable change. To understand how this model works in practice, see our series of transformation whitepapers.<br><br>

        Of course, optimal implementation works hand-in-hand with measurement. Programs accompanied by meaningful measurement efforts allow organizations to monitor progress in real time and continuously improve. When designing a program, always invest the time and resources necessary to create a robust measurement plan that helps you maximize your impact.<br><br>


        <h4 class="text-info">Step 5: Continually Refine</h4><br>
        Once your program is designed and you begin implementation, proactively review successes and areas for improvement. Use measurement data to track important trends and results, and continuously refine the program as needed. You likely won’t get the program design perfect the first time, so plan to adapt to the lessons you learn along the way.<br><br>

        Our experience has shown that following these five steps helps mission-driven organizations stand out among their peers and produce real results by avoiding many of the program design pitfalls others encounter. If you or your organization would like a thought partner to discuss your impact strategy or program design needs in more detail, feel free to reach out. You can also find more information on our Impact Strategy page.<br><br>


        <div class="jumbotron" align="bottom">


            <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

            <ol class="socialmedia">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-snapchat-ghost"></a>
            </ol>
        </div>
    </div>
</div>
</body>
</html>