<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PROGRAM DESIGN AND ALGORITHMS</title>
</head>
<body>


<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div>
<h2 class="heading" align="center">PROGRAM DESIGN AND ALGORITHMS</h2><br><br>

<img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550937643/office-1209640_1920-1.jpg"
     class="mx-auto d-block" style="width:50%">


<div class="container">

    <div class="card bg-light text-dark">
        <h3 class="card-body" align="center">Five Steps to Excellent Program Design</h3>
        <div class="card-body" align="center">22 February 2019</div>
        <p align="center">As a stakeholder in a mission-driven organization, you know how important it is to have both a strategic vision for the outcomes you intend to achieve and a program (or programs) to help realize that vision.<a href="programdessteps">View
            More</a></p>

    </div><br>

    <div class="card bg-light text-dark">
        <h3 class="card-body" align="center">Algorithms</h3>
        <div class="card-body" align="center">22 February 2019</div>
        <p align="center">    Algorithm is a step-by-step procedure, which defines a set of instructions to be executed in a certain order to get the desired output. Algorithms are generally created independent of underlying languages, i.e. an algorithm can be implemented in more than one programming language.<a href="algorithm">View More</a></p>
    </div>


</div>
<div class="jumbotron" align="bottom">


    <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

    <ol class="socialmedia">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
    </ol>
</div>
</body>
</html>

</body>
</html>